<% @title = "Play Later" %>

<% content_for :nav do %>
  <%= render "respondable_nav", active_when: "heading:invisible" do %>
    <h1 class="truncate text-fl-sm font-semibold motion-safe:turn-enter:animate-enter-fade motion-safe:turn-exit:animate-exit-fade">Play Later</h1>
  <% end %>
<% end %>

<%= render("heading", data: {layout_target: "observable"}, id: "heading") { "Play Later" } %>

<%= render "episodes", episodes: @episodes %>
