<%= form_with url: login_path, scope: :user do |form| %>
  <div class="space-y-fl-xs">
    <div>
      <%= form.label :email %>
      <%= form.email_field :email, ui.text_input.merge(required: true) %>
    </div>

    <%= form.submit "Sign In", ui.button %>
  </div>
<% end %>
