<% if feeds.load.any? %>
  <%= render "container" do %>
    <div class="mt-fl-2xs inline-flex items-center relative">
      <ul class="flex mr-2 -space-x-1.5">
        <% feeds.each do |feed| %>
          <li>
            <%= image_tag feed.image_url, width: 24, height: 24, class: "ring-1 ring-white dark:ring-black", alt: "" %>
          </li>
        <% end %>
      </ul>
      <%= yield %>
    </div>
  <% end %>
<% end %>
