<%= render "list_item", title: feed.title, path: feed_path(feed) do |p| %>
  <% p.content_for :image do %>
    <div class="relative w-20 h-20 shrink-0 sm:w-24 sm:h-24 mr-3 before:absolute before:inset-0 before:ring-inset before:ring-1 before:ring-black/10 dark:before:ring-white/20">
      <% if feed.image_url %>
        <%= image_tag(feed.image_url, alt: "")%>
      <% end %>
    </div>
  <% end %>

  <% if feed.author %>
    <div class="truncate text-neutral-500 dark:text-neutral-400"><%= feed.author %></div>
  <% end %>
<% end %>
