<% content_for :nav, render("nav_bar") %>

<%= render "container" do %>
  <%= render("users/dashboards/heading", icon: :rss, class: "mt-fl-lg mb-fl-2xs") { "Feeds" } %>
<% end %>

<div class="space-y-fl-3xs">
  <%= render @feeds %>
</div>
