<%= render "list_item", title: search_result.title do |p| %>
  <% p.content_for :image do %>
    <div class="relative w-fl-2xl h-fl-2xl shrink-0 mr-fl-2xs before:absolute before:inset-0 before:ring-inset before:ring-1 before:ring-black/10 dark:before:ring-white/20">
      <% if search_result.image_url %>
        <%= image_tag(external_image_url(search_result.image_url), alt: "", width: 96, height: 96, loading: :lazy)%>
      <% end %>
    </div>
  <% end %>

  <% if search_result.details %>
    <div class="truncate text-neutral-500 dark:text-neutral-400">
      <%= search_result.details %>
    </div>
  <% end %>

  <%= yield p %>
<% end %>
