<% content_for :nav do %>
  <%= render "respondable_nav", active_when: "heading:invisible" do %>
    <h1 class="truncate text-fl-sm font-semibold motion-safe:turn-enter:animate-enter-fade motion-safe:turn-exit:animate-exit-fade">Played Episodes</h1>
  <% end %>
<% end %>

<%= render "container" do %>
  <h1 data-layout-target="observable" id="heading" <%= ui.turn %> class="mt-fl-sm-lg mb-fl-2xs text-fl-base font-semibold dark:text-grey-50">
    Played Episodes
  </h1>
<% end %>

<div class="space-y-fl-3xs">
  <%= render @episodes %>
</div>
