<% content_for :nav do %>
  <%= render "nav", color: :translucent, class: "fixed top-0" do %>
    <%= render "back", path: entry_path(@entry), color: :translucent_black %>
  <% end %>
  <div class="h-16"></div>
<% end %>

<% @chapters.each_with_index do |chapter, i| %>
  <% end_time = chapter.end_time || @chapters[i + 1]&.start_time || @play.duration %>
  <%= render "chapters/chapter", chapter: chapter, index: i, end_time: end_time, play: @play %>
<% end %>
