<nav class="flex w-full z-20 p-2.5 sm:px-fl-xs-lg">
  <%= render "back", path: entry_path(@toc_show.entry), color: :translucent_black %>
</nav>

<% @toc_show.chapters.each_with_index do |chapter, i| %>
  <% end_time = chapter.end_time || @toc_show.chapters[i + 1]&.start_time || @toc_show.play.duration %>
  <%= render "chapters/chapter", chapter: chapter, index: i, end_time: end_time, play: @toc_show.play %>
<% end %>
