<menu class="flex space-x-2">
  <li>
    <%= render "episodes/toggle", episode: %>
  </li>
  <li>
    <%= render "play_later_playlists/items/form", play_later_item: episode.play_later_item %>
  </li>
</menu>
