<p class="flex items-center">
  <%= icon :calendar, solid: true, class: "h-4 w-4 mr-1 text-grey-300 dark:text-grey-600 -translate-y-px" %>
  <%= local_relative_time published_at, type: "date", class: "uppercase" %>
</p>
