<% content_for :nav, render("nav_bar") %>

<%= render "container" do %>
  <%= render("users/dashboards/heading", icon: :sparkles, class: "mt-fl-lg mb-fl-2xs") { "Recently Updated" } %>
<% end %>

<div class="space-y-fl-3xs">
  <%= render partial: "episodes/episode", collection: @episodes %>
</div>
