  <h2
    <%= turn_attributes %>
    class="flex items-center text-fl-xs uppercase tracking-wide font-semibold dark:text-neutral-400 <%= local_assigns[:class] %>"
  >
    <%= icon icon, solid: true, class: "h-fl-sm w-fl-sm mr-fl-3xs -translate-y-[5%] text-neutral-300" %>
    <%= yield %>
  </h2>
