  <h2 class="flex items-center text-sm uppercase tracking-wide font-semibold mt-6 mb-3 text-neutral-500 dark:text-neutral-400">
    <%= icon icon, solid: true, class: "h-5 w-5 -ml-0.5 mr-0.5 text-neutral-300" %>
    <%= yield %>
  </h2>
