@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer components {
  img {
    @apply bg-white;
  }

  progress {
    @apply bg-black/10 dark:bg-white/20;
  }
  progress::-webkit-progress-bar {
    @apply bg-black/10 dark:bg-white/20;
  }

  progress::-webkit-progress-inner-element,
  progress::-webkit-progress-bar {
    background-color: transparent;
  }

  progress::-moz-progress-bar {
    background: transparent;
    transition: width 0.1s;
  }
  progress[value]::-moz-progress-bar {
    background: currentColor;
  }

  progress::-webkit-progress-value {
    background: currentColor;
  }

  input[type="range"] {
    --track-color: theme(colors.grey.300);
  }

  @media (prefers-color-scheme: dark) {
    input[type="range"] {
      --track-color: theme(colors.grey.700);
    }
  }

  input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center / 100% calc(var(--track-height));
  }

  input[type="range"]::-webkit-slider-thumb {
    --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5);
    --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
    --clip-edges: 0.125rem;
    --clip-further: calc(100% + 1px);
    --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0 100vmax currentColor;

    width: var(--thumb-width, var(--thumb-height));
    box-shadow: var(--tw-ring-offset-shadow),
      var(--tw-ring-shadow),
      var(--tw-shadow, 0 0 #0000),
      var(--box-fill);

    clip-path: polygon(100% -1px,
      var(--clip-edges) -1px,
      0 var(--clip-top),
      -100vmax var(--clip-top),
      -100vmax var(--clip-bottom),
      0 var(--clip-bottom),
      var(--clip-edges) 100%,
      var(--clip-further) var(--clip-further));
  }

  .bg-frosted-glass-light {
    @apply
      bg-white/95
      supports-[backdrop-filter:blur(0)]:bg-white/75
      supports-[backdrop-filter:blur(0)]:backdrop-blur;
  }

  .bg-frosted-glass-dark {
    @apply
      bg-black/95
      supports-[backdrop-filter:blur(0)]:bg-black/75
      supports-[backdrop-filter:blur(0)]:backdrop-blur
  }

  html.turn-before-exit [data-turn-exit],
  html.turn-exit [data-turn-exit] {
    will-change: transform, opacity;
  }
}
