@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer components {
  progress {
    @apply bg-black/10;
  }
  progress::-webkit-progress-bar {
    @apply bg-black/10;
  }

  progress::-moz-progress-bar {
    background: transparent;
    transition: width 0.1s;
  }
  progress[value]::-moz-progress-bar {
    background: currentColor;
  }

  progress::-webkit-progress-value {
    background: currentColor;
    transition: width 0.1s;
  }
}

@layer utilities {
  .bg-player-bar {
    background-color: rgb(255, 255, 255, 0.95);
  }

  @supports (backdrop-filter: blur(1px)) {
    .bg-player-bar {
      background-color: rgb(255, 255, 255, 0.75);
    }
  }
}
