@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer components {
  progress {
    @apply bg-black/10;
  }
  progress::-webkit-progress-bar {
    @apply bg-black/10;
  }

  progress::-webkit-progress-inner-element,
  progress::-webkit-progress-bar {
    background-color: transparent;
  }

  progress::-moz-progress-bar {
    background: transparent;
    transition: width 0.1s;
  }
  progress[value]::-moz-progress-bar {
    background: currentColor;
  }

  progress::-webkit-progress-value {
    background: currentColor;
    transition: width 0.1s;
  }

  html.turn-before-exit [data-turn-exit],
  html.turn-exit [data-turn-exit] {
    will-change: transform, opacity;
  }

  @supports (not ((-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px)))) {
    #header_image {
      @apply blur-lg;
    }
  }
}

@layer utilities {
  .bg-player-bar {
    background-color: rgb(255, 255, 255, 0.95);
  }

  @supports (backdrop-filter: blur(1px)) {
    .bg-player-bar {
      background-color: rgb(255, 255, 255, 0.75);
    }
  }
}
