<% content_for :nav do %>
  <%= render("nav") { render("back", path: root_path) }  %>
<% end %>

<%= render "container" do %>
  <h1 <%= turn_attributes %> class="mt-fl-lg mb-fl-2xs text-fl-base font-semibold dark:text-grey-50">
    <span>Play Later</span>
  </h1>
<% end %>

<div class="space-y-fl-3xs">
  <%= render partial: "queues/episode", collection: @episodes %>
</div>
