<nav class="sticky top-0 z-20 p-2.5 sm:px-fl-xs-lg overflow-hidden bg-white drop-shadow-[0_2px_0_rgba(0,0,0,0.08)]">
  <div class="flex w-full items-center">
    <% if current_page?(root_path) %>
      <%= render "nav_link", path: request.url, icon: :refresh, label: "Refresh", onclick: "window.location.reload(); return false" %>
    <% else %>
      <%= render "back", path: root_path %>
    <% end %>

    <div class="flex justify-end ml-auto space-x-fl-xs-md">
      <%= render "nav_link", path: new_directories_search_path, icon: :search, label: "Search" %>
      <%= render "nav_link", path: settings_path, icon: :"dots-horizontal", label: "Settings" %>
    </div>
  </div>
</nav>
