<%
colors = {
  default: "",
  translucent: "bg-frosted-glass-light dark:bg-frosted-glass-dark bg-gradient-to-b from-white dark:from-black"
}
props(local_assigns.with_defaults(color: :default, class: [], id: "nav")) => {color:, class: classes, id:, **rest}
%>

<nav id="<%= id %>" class="w-full flex z-20 p-3.5 sm:px-fl-xs-lg <%= self.class_names([classes, colors[color]]) %>" <%= tag.attributes(rest) %>>
  <%= yield %>
</nav>
