<%
colors = {
  default: "",
  translucent_white: "bg-white [@supports(backdrop-filter:blur(0))]:bg-white/75 [@supports(backdrop-filter:blur(0))]:backdrop-blur"
}
props(local_assigns.with_defaults(color: :default)) => {color:, class: classes}
%>

<nav class="w-full flex z-20 p-3.5 sm:px-fl-xs-lg <%= self.class_names([classes, colors[color]]) %>">
  <%= yield %>
</nav>
