  <div data-turbo-permanent id="player_bar" class="fixed bottom-0 w-full min-h-[1px] bg-white/95 [@supports(backdrop-filter:blur(0))]:bg-white/75 [@supports(backdrop-filter:blur(0))]:backdrop-blur">
    <%= render "entries/players/audio", source: entry.try(:resume_enclosure_url, play) %>

    <div style="margin-bottom: env(safe-area-inset-bottom)"><%# Leave room for iOS home bar %>
      <%= turbo_frame_tag :player, src: (entry_player_path(entry) if entry.present?) do %>
        <%= render "entries/players/player", entry: NilEntry.new %>
      <% end %>
    </div>
  </div>
  <div style="height: env(safe-area-inset-bottom, 0)"></div>
