<%
data = {
  controller: "player-factory",
  action: "turbo:before-render@window->player-factory#destroyPlayerIfBlank",
  turbo_permanent: Current.user.present?
}
%>
<div <%= tag.attributes(data:) %> id="player_bar" class="fixed z-10 bottom-0 w-full min-h-[6.125rem] bg-frosted-glass [[data-bridge-components~=player]_&]:hidden">
  <%= render "entries/players/audio", source: entry.presence && entry_enclosure_at_time_url(entry, play.resume_timestamp) unless turbo_native_app? %>

  <div class="grid grid-cols-1 grid-rows-1 w-full mb-[env(safe-area-inset-bottom)]">
    <%= turbo_frame_tag :player, src: entry.presence && entry_player_path(entry), class: "[grid-area:1/1] w-full" %>

    <% unless turbo_request? %>
      <iframe src="<%= blank_path %>" name="player" data-player-target="iframe" class="w-full [grid-area:1/1]" height="98" allowtransparency="true"></iframe>
    <% end %>
  </div>
</div>
<div class="box-content h-40 pb-[env(safe-area-inset-bottom,0)]"></div>
