  <div data-turbo-permanent id="player_bar" class="fixed bottom-0 w-full min-h-[1px] bg-white/95 [@supports(backdrop-filter:blur(0))]:bg-white/75 [@supports(backdrop-filter:blur(0))]:backdrop-blur">
    <%= render "entries/players/audio", source: Current.entry.try(:resume_enclosure_url, Current.play) %>

    <div style="margin-bottom: env(safe-area-inset-bottom)"><%# Leave room for iOS home bar %>
      <%= turbo_frame_tag :player, src: (entry_player_path(Current.entry) if Current.entry) %>
    </div>
  </div>
  <div style="height: env(safe-area-inset-bottom, 0)"></div>
