  <div data-turbo-permanent id="player_bar" class="fixed z-10 bottom-0 w-full min-h-[1px] bg-frosted-glass-light dark:bg-frosted-glass-dark">
    <%= render "entries/players/audio", source: entry.try(:resume_enclosure_url, play) %>

    <div style="margin-bottom: env(safe-area-inset-bottom)"><%# Leave room for iOS home bar %>
      <%= turbo_frame_tag :player do %>
        <%= render "entries/players/player", entry: Current.entry, play: Current.play %>
      <% end %>
    </div>
  </div>
  <div style="height: env(safe-area-inset-bottom, 0)"></div>
