<div class="fixed w-full top-0 pt-24 pointer-events-none transition-opacity opacity-0 turn-exit:opacity-100 turn-exit:delay-700" data-turbo-cache="false">
  <%= inline_svg "icons/loading.svg", title: "Loading", class: "w-8 h-8 mx-auto text-blue-600 dark:text-white turn-exit:motion-safe:animate-spin turn-enter:motion-safe:animate-spin" %>
</div>
