<div class="fixed w-full top-0 pt-24 pointer-events-none opacity-0 turn-exit:animate-exit-spinner">
  <%= inline_svg_tag "icons/loading.svg", title: "Loading", class: "w-8 h-8 mx-auto text-blue-600 dark:text-white turn-exit:motion-safe:animate-spin turn-enter:motion-safe:animate-spin" %>
</div>
