<%
index = variant
variant = [
  {name: "line_1", transform: "translate-y-0.5"},
  {name: "line_2", transform: "translate-y-0.5"},
  {name: "line_1", transform: "-scale-y-100"},
  {name: "line_2", transform: "-scale-y-100"},
  ][index]
%>

<div class="flex items-center space-x-3 -ml-8">
  <div class="basis-5">
    <%= inline_svg_tag "#{variant[:name]}_small.svg", class: ["stroke-[4px] text-grey-700", variant[:transform]] %>
  </div>
  <%= yield %>
  <div class="flex-1">
    <%= inline_svg_tag "#{variant[:name]}.svg", class: ["stroke-[4px] translate-y-0.5 text-grey-700", variant[:transform]] %>
  </div>
</div>
