<% content_for :nav, render("nav_bar") %>

<%= render "container" do %>
  <%= render "form", search: @search %>
<% end %>

<div class="mt-fl-sm space-y-fl-3xs">
  <%= render partial: "search_result", collection: @search.results %>
</div>
